{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>Ishuri</span>Bridge</div>
    </a>
    <ul class="side-menu">
        <li class="active"><a href="{% url 'home' %}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a href="{% url 'view-orders' %}"><i class='bx bx-store-alt'></i>Assignments</a></li>
        <li><a href="{% url 'user-profile' request.user.id%}"><i class='bx bx-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'logout' %}" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<div class="content">
    <!-- Navbar -->

    <!-- End of Navbar -->

    <main>
        <div class="header">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li><a href="#">
                            Analytics
                        </a></li>
                    /
                    <li><a href="#" class="active">Welcome!</a></li>
                </ul>
            </div>
            <a href="#" class="report">
                <i class='bx bx-cloud-download'></i>
                <span>How to use Ishuri</span>
            </a>
        </div>

        <!-- Insights -->
        <ul class="insights">
            <li>
                <i class='bx bx-task'></i>
                <span class="info">
                    <h3>{{ assignments.count }}</h3>
                    <p>Assignments</p>
                </span>
            </li>
            <li>
                <i class='bx bx-calendar'></i>
                <span class="info">
                    <h3>{{ classes_today.count }}</h3>
                    <p>Classes</p>
                </span>
            </li>
            <li>
                <i class='bx bx-list-ul'></i>
                <span class="info">
                    <h3>{{ activities_today.count }}</h3>
                    <p>Activities</p>
                </span>
            </li>
            <li>
                <i class='bx bx-dollar-circle'></i>
                <span class="info">
                    <h3>$6,742</h3>
                    <p>Total Sales</p>
                </span>
            </li>
        </ul>
        
        <!-- End of Insights -->

        <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>All Companies</h3>
                    <i class='bx bx-filter'></i>
                    <i class='bx bx-search'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Phone Number</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                        <tr>
                            <td>
                                <p>{{company.username}}</p>
                            </td>
                            <td>{{company.phone_number}}</td>
                            <td>{{company.email}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Reminders -->
            <div class="reminders">
                <div class="header">
                    <i class='bx bx-note'></i>
                    <h3>Recent Companies</h3>
                    <i class='bx bx-filter'></i>
                    <a href="{% url 'add-company' %}"><i class='bx bx-plus'></i></a>
                </div>
                <ul class="task-list">
                    {% for field in  companies %}
                    <li class="completed">
                        <div class="task-title">
                            <i class='bx bx-check-circle'></i>
                            <p>{{field.username}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- End of Reminders-->

        </div>

    </main>

</div>


{% endblock content %}